*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: rgb(255, 255, 255);    
}

#front{
    min-height:100vh;
    display: flexbox;
    background: pink;
    margin: 0;
}

.wave{
    position: absolute;
    left: 0;
    bottom: 0;
}

.button{
    display: flex;
    margin-left: 100px;
}

.btn1, .btn2{
    display: inline-block;
    border-radius: 30px;
    justify-content: space-between;
    width: 100%;
    padding: 10px 40px;
    margin: 250px 10px;
    background: linear-gradient(45deg,#0d1ebb, rgb(13, 187, 199));
    color: white;
    border: none;
    cursor: pointer;
}

h1{
    margin: 0px 40px;
}

img{
    height: 300px;
    width: 50%;
    float: right;
}

.box{
    position: absolute;
    padding: 70px;
    margin-left: 20%;
}

@media screen and (max-width: 600px){
    .button{
    flex-direction: column;
    width: 50%;
    align-items: center;
    text-align: center;
    margin-left: 20%;
    }
    .btn1{
        margin-bottom: 50px;
    }
    .btn2{
        margin-top: -100px;
        margin-bottom: 320px;
    }
}