*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    justify-content: space-around;
    text-align: center;
    overflow: hidden;
}

.btn1,.btn2{
    border: none;
    border-radius: 40px;
    width: 150px;
    height: 50px;
    cursor: pointer;
    background: #5995fd;
    margin-top: 0px;
}

.btn1:hover, .btn2:hover{
    background:  #4d84e2;
}

.btn2{
    margin-top: 10px;
}

.grid-child-2:before{
        content: '';
        position: absolute;
        width: 2000px;
        height: 2000px;
        border-radius: 50%;
        background: linear-gradient(-45deg, #3399ff ,#3399ff);
        margin-top: -10%;
        left: 0%;
        transform: translateY(-50%);
        z-index: -1;
    }

    
.grid-child-1:before{
    content: '';
    position: absolute;
    width: 2000px;
    height: 2000px;
    border-radius: 50%;
    background: linear-gradient(-45deg, #fa8072 ,#d8301d);
    bottom: 10%;
    right: 0%;
    transform: translateY(-50%);
    z-index: -1;
}

.twitter-timeline{
    margin: 100px;
}

.grid-child-1{
    padding: 3rem 17% 2rem 12%;
}

.grid-child-2{
    position: relative;
    overflow: hidden;
    padding: 3rem 12% 10rem 17%;
}

img{
    height: 500px;
    width: 100%;
    z-index: -1;
    margin-top: -100px;
}
