<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../static/css/home.css" />
    <title>AidZee</title>
  </head>
  <body>
    <h2 class="title">Dashboard</h2>
    <div class="container">
      <div class="forms-container">
        <div class="post">
          <form action="#" class="post-form">
            
            <div class="input-field">
              <i class="fas fa-pen"></i>
              <input type="text" placeholder="Write yor post" id ="post" />
            </div>

            <div class="form-group container-login100-form-btn">
              <button class="btn solid" type="button"  onclick="signIn()" >Post</button>
          </div>
          </form>
        </div>
      </div>

      <div class="panels-container">
        <div class="panel top-panel">
          <img src="../static/img/6583.svg" class="image" alt="" />
        </div>
        <div class="panel bottom-panel">
          <img src="../static/img/pic.svg" class="image" alt="" />
        </div>
      </div>
    </div>

    <script src="../static/scripts/app.js"></script>

    <section>
      <div class="box">
          <a class="twitter-timeline" data-width="400" data-height="450"
              href="https://twitter.com/NASA?ref_src=twsrc%5Etfw"></a>
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
         </div>
    </section>

  </body>
</html>