<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>AidZee</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Forum - Responsive HTML5 Template">
    <meta name="author" content="Forum">
    <link rel="shortcut icon" href="favicon/favicon.ico">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/css/home.css">
    <style>
      body {
        background-image: url("../static/img/bg.jpg");
        background-color: #cccccc;
      }
    </style>
</head>
<body>
<nav class="panel-menu" id="mobile-menu">
    <ul>

    </ul>
    <div class="mm-navbtn-names">
        <div class="mm-closebtn">
            Close
            <div class="tt-icon">
                <svg>
                  <use xlink:href="#icon-cancel"></use>
                </svg>
            </div>
        </div>
        <div class="mm-backbtn">Back</div>
    </div>
</nav>

<header id="tt-header">
  <div class="container">
      <div class="row tt-row no-gutters">
          <div class="col-auto">
              <!-- toggle mobile menu -->
              <a class="toggle-mobile-menu" href="#">
                  <svg class="tt-icon">
                    <use xlink:href="#icon-menu_icon"></use>
                  </svg>
              </a>
              <!-- /toggle mobile menu -->
              <!-- logo -->
              <div class="tt-logo">
                  <a href="../index.html"><img src="../static/assets/Logo.png" alt=""></a>
              </div>
              <!-- /logo -->
              <!-- desktop menu -->
                <div class="tt-desktop-menu">
                  <nav>
                      <ul>
                          <li><a href="page-categories.html"><span>Categories</span></a></li>
                          <li><a href="page-tabs.html"><span>Trending</span></a></li>
                          <li><a href="page-create-topic.html"><span>New</span></a></li>
                          <li>
                              <a href="page-single-user.html"><span>Pages</span></a>
                              <ul>
                                  <li><a href="../index.html">Home</a></li>
                                  <li><a href="page-tabs.html">About</a></li>
                              </ul>
                          </li>
                      </ul>
                  </nav>
              </div>
              <!-- /tt-search -->
          </div>
          <div class="col-auto ml-auto">
               <div class="tt-user-info d-flex justify-content-center">
                  <a href="#" class="tt-btn-icon">
                       <i class="tt-icon"><svg><use xlink:href="#icon-notification"></use></svg></i>
                  </a>
                  <div class="tt-avatar-icon tt-size-md">
                      <i class="tt-icon"><svg><use xlink:href="#icon-ava-a"></use></svg></i>
                  </div>
                  <div class="custom-select-01">
                      <select name="select_opt" onchange="opt = this.value;">
                          <option value="Default Sorting">azyrusmax</option>
                          <option value="sign_out">Sign out</option>
                      </select>
                  </div>
              </div>
          </div>
      </div>
  </div>
</header>
<main id="tt-pageContent">
  <div class="container">
      <div class="tt-wrapper-inner">
          <h1 class="tt-title-border">
              Create New Topic
          </h1>
          <form class="form-default form-create-topic">
              <div class="form-group">
                  <label for="inputTopicTitle">Topic Title</label>
                  <div class="tt-value-wrapper">
                      <input type="text" name="name" class="form-control" id="inputTopicTitle" placeholder="Subject of your topic">
                      <span class="tt-value-input">99</span>
                  </div>
                  <div class="tt-note">Describe your topic well, while keeping the subject as short as possible.</div>
              </div>
              <div class="form-group">
                  <label>Topic Type</label>
                  <div class="tt-js-active-btn tt-wrapper-btnicon">
                      <div class="row tt-w410-col-02">
                          <div class="col-4 col-lg-3 col-xl-2">
                              <a href="#" class="tt-button-icon">
                                  <span class="tt-icon">
                                      <!-- <svg> -->
                                          <use xlink:href="#icon-discussion"></use>
                                          <img src="../static/img/icons/icon-discussion.svg" height="80px" width="80px">
                                      <!-- </svg> -->
                                  </span>
                                  <span class="tt-text">Discussion</span>
                              </a>
                          </div>
                          <div class="col-4 col-lg-3 col-xl-2">
                              <a href="#" class="tt-button-icon">
                                  <span class="tt-icon">
                                       <!-- <svg> -->
                                          <use xlink:href="#Question"></use>
                                          <img src="../static/img/icons/Question.svg" height="80px" width="80px">
                                      <!-- </svg> -->
                                  </span>
                                  <span class="tt-text">Question</span>
                              </a>
                          </div>
                          <div class="col-4 col-lg-3 col-xl-2">
                              <a href="#" class="tt-button-icon">
                                  <span class="tt-icon">
                                       <!-- <svg> -->
                                          <use xlink:href="#Poll"></use>
                                          <img src="../static/img/icons/Poll.svg" height="80px" width="80px">
                                      <!-- </svg> -->
                                  </span>
                                  <span class="tt-text">Poll</span>
                              </a>
                          </div>
                          <div class="col-4 col-lg-3 col-xl-2">
                              <a href="#" class="tt-button-icon">
                                  <span class="tt-icon">
                                       <!-- <svg> -->
                                          <use xlink:href="#icon-gallery"></use>
                                          <img src="../static/img/icons/icon-gallery.svg" height="80px" width="80px">
                                      <!-- </svg> -->
                                  </span>
                                  <span class="tt-text">Gallery</span>
                              </a>
                          </div>
                          <div class="col-4 col-lg-3 col-xl-2">
                              <a href="#" class="tt-button-icon">
                                  <span class="tt-icon">
                                       <!-- <svg> -->
                                          <use xlink:href="#Video"></use>
                                          <img src="../static/img/icons/Video.svg" height="80px" width="80px">
                                      <!-- </svg> -->
                                  </span>
                                  <span class="tt-text">Video</span>
                              </a>
                          </div>
                          <div class="col-4 col-lg-3 col-xl-2">
                              <a href="#" class="tt-button-icon">
                                  <span class="tt-icon">
                                       <!-- <svg> -->
                                          <use xlink:href="#Others"></use>
                                          <img src="../static/img/icons/Others.svg" height="80px" width="80px">
                                      <!-- </svg> -->
                                  </span>
                                  <span class="tt-text">Other</span>
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="pt-editor">
                  <h6 class="pt-title">Topic Body</h6>
                  <!-- <div class="pt-row">
                      <div class="col-left">
                          <ul class="pt-edit-btn">
                              <li><button type="button" class="btn-icon">
                                  <svg class="tt-icon">
                                    <use xlink:href="#icon-quote"></use>
                                  </svg>
                              </button></li>
                              <li><button type="button" class="btn-icon">
                                  <svg class="tt-icon">
                                    <use xlink:href="#icon-bold"></use>
                                  </svg>
                              </button></li>
                              <li><button type="button" class="btn-icon">
                                  <svg class="tt-icon">
                                    <use xlink:href="#icon-italic"></use>
                                  </svg>
                              </button></li>
                              <li><button type="button" class="btn-icon">
                                  <svg class="tt-icon">
                                    <use xlink:href="#icon-share_topic"></use>
                                  </svg>
                              </button></li>
                              <li><button type="button" class="btn-icon">
                                  <svg class="tt-icon">
                                    <use xlink:href="#icon-blockquote"></use>
                                  </svg>
                              </button></li>
                              <li><button type="button" class="btn-icon">
                                  <svg class="tt-icon">
                                    <use xlink:href="#icon-performatted"></use>
                                  </svg>
                              </button></li>
                              <li class="hr"></li>
                              <li><button type="button" class="btn-icon">
                                  <svg class="tt-icon">
                                    <use xlink:href="#icon-upload_files"></use>
                                  </svg>
                              </button></li>
                              <li><button type="button" class="btn-icon">
                                  <svg class="tt-icon">
                                    <use xlink:href="#icon-bullet_list"></use>
                                  </svg>
                              </button></li>
                              <li><button type="button" class="btn-icon">
                                  <svg class="tt-icon">
                                    <use xlink:href="#icon-heading"></use>
                                  </svg>
                              </button></li>
                              <li><button type="button" class="btn-icon">
                                  <svg class="tt-icon">
                                    <use xlink:href="#icon-horizontal_line"></use>
                                  </svg>
                              </button></li>
                              <li><button type="button" class="btn-icon">
                                  <svg class="tt-icon">
                                    <use xlink:href="#icon-emoticon"></use>
                                  </svg>
                              </button></li>
                              <li><button type="button" class="btn-icon">
                                  <svg class="tt-icon">
                                    <use xlink:href="#icon-settings"></use>
                                  </svg>
                              </button></li>
                              <li><button type="button" class="btn-icon">
                                  <svg class="tt-icon">
                                    <use xlink:href="#icon-color_picker"></use>
                                  </svg>
                              </button></li>
                          </ul>
                      </div>
                  </div> -->
                  <div class="form-group">
                      <textarea name="message" class="form-control" rows="5" placeholder="Lets get started"></textarea>
                  </div>
                  <div class="row">
                      <div class="col-md-4">
                          <div class="form-group">
                              <label for="inputTopicTitle">Category</label>
                              <select class="form-control">
                                  <option value="Select">Select</option>
                                  <option value="Value 01">Medical</option>
                                  <option value="Value 02">General</option>
                              </select>
                          </div>
                      </div>
                      <div class="col-md-8">
                          <div class="form-group">
                              <label for="inputTopicTags">Tags</label>
                              <input type="text" name="name" class="form-control" id="inputTopicTags" placeholder="Use comma to separate tags">
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-auto ml-md-auto">
                          <a href="#" class="btn btn-secondary btn-width-lg">Create Post</a>
                      </div>
                  </div>
              </div>
          </form>
      </div>
      <div class="tt-topic-list tt-offset-top-30">
          <div class="tt-list-search">
              <div class="tt-title">Suggested Topics</div>
              <!-- tt-search -->
              <div class="tt-search">
                  <form class="search-wrapper">
                      <div class="search-form">
                          <input type="text" class="tt-search__input" placeholder="Search for topics">
                          <button class="tt-search__btn" type="submit">
                             <svg class="tt-icon">
                                <use xlink:href="#icon-search"></use>
                              </svg>
                          </button>
                           <button class="tt-search__close">
                             <svg class="tt-icon">
                                <use xlink:href="#icon-cancel"></use>
                              </svg>
                          </button>
                      </div>
                  </form>
              </div>
              <!-- /tt-search -->
          </div>
          <div class="tt-list-header tt-border-bottom">
              <div class="tt-col-topic">Topic</div>
              <div class="tt-col-category">Category</div>
              <div class="tt-col-value hide-mobile">Likes</div>
              <div class="tt-col-value hide-mobile">Replies</div>
              <div class="tt-col-value hide-mobile">Views</div>
              <div class="tt-col-value">Activity</div>
          </div>
          <div class="tt-item">
              <div class="tt-col-avatar">
                  <svg class="tt-icon">
                    <use xlink:href="#icon-ava-n"></use>
                  </svg>
              </div>
              <div class="tt-col-description">
                  <h6 class="tt-title"><a href="#">
                      Does Envato act against the authors of Envato markets?
                  </a></h6>
                  <div class="row align-items-center no-gutters hide-desktope">
                      <div class="col-auto">
                          <ul class="tt-list-badge">
                              <li class="show-mobile"><a href="#"><span class="tt-color05 tt-badge">music</span></a></li>
                          </ul>
                      </div>
                      <div class="col-auto ml-auto show-mobile">
                         <div class="tt-value">1d</div>
                      </div>
                  </div>
              </div>
              <div class="tt-col-category"><span class="tt-color05 tt-badge">music</span></div>
              <div class="tt-col-value hide-mobile">358</div>
              <div class="tt-col-value tt-color-select hide-mobile">68</div>
              <div class="tt-col-value hide-mobile">8.3k</div>
              <div class="tt-col-value hide-mobile">1d</div>
          </div>
          <div class="tt-item">
              <div class="tt-col-avatar">
                 <svg class="tt-icon">
                    <use xlink:href="#icon-ava-h"></use>
                  </svg>
              </div>
              <div class="tt-col-description">
                  <h6 class="tt-title"><a href="#">
                      <svg class="tt-icon">
                        <use xlink:href="#icon-locked"></use>
                      </svg>
                      We Want to Hear From You! What Would You Like?
                  </a></h6>
                  <div class="row align-items-center no-gutters hide-desktope">
                      <div class="col-auto">
                          <ul class="tt-list-badge">
                              <li class="show-mobile"><a href="#"><span class="tt-color06 tt-badge">movies</span></a></li>
                          </ul>
                      </div>
                      <div class="col-auto ml-auto show-mobile">
                         <div class="tt-value">2d</div>
                      </div>
                  </div>
              </div>
              <div class="tt-col-category"><span class="tt-color06 tt-badge">movies</span></div>
              <div class="tt-col-value hide-mobile">674</div>
              <div class="tt-col-value tt-color-select  hide-mobile">29</div>
              <div class="tt-col-value hide-mobile">1.3k</div>
              <div class="tt-col-value hide-mobile">2d</div>
          </div>
          <div class="tt-item">
              <div class="tt-col-avatar">
                 <svg class="tt-icon">
                    <use xlink:href="#icon-ava-j"></use>
                  </svg>
              </div>
              <div class="tt-col-description">
                  <h6 class="tt-title"><a href="#">
                     Seeking partner backend developer
                  </a></h6>
                  <div class="row align-items-center no-gutters">
                      <div class="col-auto">
                          <ul class="tt-list-badge">
                              <li class="show-mobile"><a href="#"><span class="tt-color03 tt-badge">exchange</span></a></li>
                              <li><a href="#"><span class="tt-badge">themeforest</span></a></li>
                              <li><a href="#"><span class="tt-badge">elements</span></a></li>
                          </ul>
                      </div>
                      <div class="col-auto ml-auto show-mobile">
                         <div class="tt-value">2d</div>
                      </div>
                  </div>
              </div>
              <div class="tt-col-category"><span class="tt-color13 tt-badge">movies</span></div>
              <div class="tt-col-value hide-mobile">278</div>
              <div class="tt-col-value tt-color-select  hide-mobile">27</div>
              <div class="tt-col-value hide-mobile">1.4k</div>
              <div class="tt-col-value hide-mobile">2d</div>
          </div>
          <div class="tt-item">
              <div class="tt-col-avatar">
                 <svg class="tt-icon">
                    <use xlink:href="#icon-ava-t"></use>
                  </svg>
              </div>
              <div class="tt-col-description">
                  <h6 class="tt-title"><a href="#">
                      Cannot customize my intro
                  </a></h6>
                  <div class="row align-items-center no-gutters">
                      <div class="col-auto">
                           <ul class="tt-list-badge">
                              <li class="show-mobile"><a href="#"><span class="tt-color07 tt-badge">video games</span></a></li>
                              <li><a href="#"><span class="tt-badge">videohive</span></a></li>
                              <li><a href="#"><span class="tt-badge">photodune</span></a></li>
                          </ul>
                      </div>
                      <div class="col-auto ml-auto show-mobile">
                         <div class="tt-value">2d</div>
                      </div>
                  </div>
              </div>
              <div class="tt-col-category"><span class="tt-color07 tt-badge">video games</span></div>
              <div class="tt-col-value hide-mobile">364</div>
              <div class="tt-col-value tt-color-select  hide-mobile">36</div>
              <div class="tt-col-value  hide-mobile">982</div>
              <div class="tt-col-value hide-mobile">2d</div>
          </div>
          <div class="tt-item">
              <div class="tt-col-avatar">
                 <svg class="tt-icon">
                    <use xlink:href="#icon-ava-k"></use>
                  </svg>
              </div>
              <div class="tt-col-description">
                  <h6 class="tt-title"><a href="#">
                      <svg class="tt-icon">
                        <use xlink:href="#icon-verified"></use>
                      </svg>
                      Microsoft Word and Power Point
                  </a></h6>
                  <div class="row align-items-center no-gutters hide-desktope">
                      <div class="col-auto">
                          <ul class="tt-list-badge">
                              <li class="show-mobile"><a href="#"><span class="tt-color08 tt-badge">youtube</span></a></li>
                          </ul>
                      </div>
                      <div class="col-auto ml-auto show-mobile">
                         <div class="tt-value">3d</div>
                      </div>
                  </div>
              </div>
              <div class="tt-col-category"><span class="tt-color08 tt-badge">youtube</span></div>
              <div class="tt-col-value  hide-mobile">698</div>
              <div class="tt-col-value tt-color-select  hide-mobile">78</div>
              <div class="tt-col-value  hide-mobile">2.1k</div>
              <div class="tt-col-value hide-mobile">3d</div>
          </div>
          <div class="tt-row-btn">
              <button type="button" class="btn-icon js-topiclist-showmore">
                  <svg class="tt-icon">
                    <use xlink:href="#icon-load_lore_icon"></use>
                  </svg>
              </button>
          </div>
      </div>
  </div>
</main>























  <!-- <h2 class="title">Dashboard</h2>
  <div class="container">
    <div class="forms-container">
      <div class="post">
        <form action="#" class="post-form">
          
          <div class="input-field">
            <i class="fas fa-pen"></i>
            <input type="text" placeholder="Write yor post" id ="post" />
          </div>

          <div class="form-group container-login100-form-btn">
            <button class="btn solid" type="button"  onclick="signIn()" >Post</button>
        </div>
        </form>
      </div>
    </div>

    <div class="panels-container">
      <div class="panel top-panel">
        <img src="../static/img/6583.svg" class="image" alt="" />
      </div>
      <div class="panel bottom-panel">
        <img src="../static/img/pic.svg" class="image" alt="" />
      </div>
    </div>
  </div>

  <script src="../static/scripts/app.js"></script>

  <section>
    <div class="box">
        <a class="twitter-timeline" data-width="400" data-height="450"
            href="https://twitter.com/NASA?ref_src=twsrc%5Etfw"></a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
  </section> -->

</body>
</html>