<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>AidZee</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/css/home.css">
	<link rel="stylesheet" type="text/css" href="../static/fontawesome-free/css/all.min.css">
    <style>
        body {
            background-image: url("../static/img/bg.jpg");
            background-color: #cccccc;
        }
    </style>
</head>

<body>
    <div class="navbar">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a href="../index.html">
				<img src="../static/assets/Logo.png" alt="Icon" class="logo logo-light">
			</li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item nav-center">
                <a href="https://aidzeecord.herokuapp.com/" class="chatbutton" id="chatbtn"> CHAT </a>
            </li>
        </ul>

		<ul class="navbar-nav nav-right">
			<li class="nav-item dropdown">
				<a class="nav-link">
					<i class="fas fa-bell dropdown-toggle" data-toggle="notification-menu"></i>
					<span class="navbar-badge">15</span>
				</a>
				<ul id="notification-menu" class="dropdown-menu notification-menu">
					<div class="dropdown-menu-header">
						<span>
							Notifications
						</span>
					</div>
					<div class="dropdown-menu-content overlay-scrollbar scrollbar-hover">
						<li class="dropdown-menu-item">
							<a href="#" class="dropdown-menu-link">
								<div>
									<i class="fas fa-gift"></i>
								</div>
								<span>
									Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
									<br>
									<span>
										15/07/2020
									</span>
								</span>
							</a>
						</li>
						<li class="dropdown-menu-item">
							<a href="#" class="dropdown-menu-link">
								<div>
									<i class="fas fa-tasks"></i>
								</div>
								<span>
									Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
									<br>
									<span>
										15/07/2020
									</span>
								</span>
							</a>
						</li>
						<li class="dropdown-menu-item">
							<a href="#" class="dropdown-menu-link">
								<div>
									<i class="fas fa-gift"></i>
								</div>
								<span>
									Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
									<br>
									<span>
										15/07/2020
									</span>
								</span>
							</a>
						</li>
						<li class="dropdown-menu-item">
							<a href="#" class="dropdown-menu-link">
								<div>
									<i class="fas fa-tasks"></i>
								</div>
								<span>
									Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
									<br>
									<span>
										15/07/2020
									</span>
								</span>
							</a>
						</li>
						<li class="dropdown-menu-item">
							<a href="#" class="dropdown-menu-link">
								<div>
									<i class="fas fa-gift"></i>
								</div>
								<span>
									Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
									<br>
									<span>
										15/07/2020
									</span>
								</span>
							</a>
						</li>
						<li class="dropdown-menu-item">
							<a href="#" class="dropdown-menu-link">
								<div>
									<i class="fas fa-tasks"></i>
								</div>
								<span>
									Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
									<br>
									<span>
										15/07/2020
									</span>
								</span>
							</a>
						</li>
						<li class="dropdown-menu-item">
							<a href="#" class="dropdown-menu-link">
								<div>
									<i class="fas fa-gift"></i>
								</div>
								<span>
									Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
									<br>
									<span>
										15/07/2020
									</span>
								</span>
							</a>
						</li>
						<li class="dropdown-menu-item">
							<a href="#" class="dropdown-menu-link">
								<div>
									<i class="fas fa-tasks"></i>
								</div>
								<span>
									Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
									<br>
									<span>
										15/07/2020
									</span>
								</span>
							</a>
						</li>
						<li class="dropdown-menu-item">
							<a href="#" class="dropdown-menu-link">
								<div>
									<i class="fas fa-gift"></i>
								</div>
								<span>
									Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
									<br>
									<span>
										15/07/2020
									</span>
								</span>
							</a>
						</li>
						<li class="dropdown-menu-item">
							<a href="#" class="dropdown-menu-link">
								<div>
									<i class="fas fa-tasks"></i>
								</div>
								<span>
									Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
									<br>
									<span>
										15/07/2020
									</span>
								</span>
							</a>
						</li>
						<li class="dropdown-menu-item">
							<a href="#" class="dropdown-menu-link">
								<div>
									<i class="fas fa-gift"></i>
								</div>
								<span>
									Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
									<br>
									<span>
										15/07/2020
									</span>
								</span>
							</a>
						</li>
						<li class="dropdown-menu-item">
							<a href="#" class="dropdown-menu-link">
								<div>
									<i class="fas fa-tasks"></i>
								</div>
								<span>
									Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
									<br>
									<span>
										15/07/2020
									</span>
								</span>
							</a>
						</li>
					</div>
					<div class="dropdown-menu-footer">
						<span>
							View all notifications
						</span>
					</div>
				</ul>
            </li>
			<li class="nav-item avt-wrapper">
				<div class="avt dropdown">
					<img src="../static/img/Aagam.png" alt="User image" class="dropdown-toggle" data-toggle="user-menu">
					<ul id="user-menu" class="dropdown-menu">
						<li class="dropdown-menu-item">
							<a class="dropdown-menu-link">
								<div>
									<i class="fas fa-user-tie"></i>
								</div>
								<span>Profile</span>
							</a>
						</li>
						<li class="dropdown-menu-item">
							<a href="#" class="dropdown-menu-link">
								<div>
									<i class="fas fa-cog"></i>
								</div>
								<span>Settings</span>
							</a>
						</li>
						<li class="dropdown-menu-item">
							<a href="#" class="dropdown-menu-link">
								<div>
									<i class="far fa-credit-card"></i>
								</div>
								<span>Payments</span>
							</a>
						</li>
						<li class="dropdown-menu-item">
							<a href="#" class="dropdown-menu-link" id="btn-logout">
								<div>
									<i class="fas fa-sign-out-alt"></i>
								</div>
								<span>Logout</span>
							</a>
						</li>
					</ul>
				</div>
			</li>
        </ul>
	</div>

    <main id="tt-pageContent">
        <div class="container">
            <div class="tt-wrapper-inner">
                <form class="form-default form-create-topic">
                    <div class="form-group">
                        <label for="inputTopicTitle" style="margin-top:100px ;">Your Query</label>
                        <div class="tt-value-wrapper">
                            <input type="text" name="name" class="form-control" id="inputTopicTitle"
                                placeholder="Let's help">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Type</label>
                        <div class="tt-js-active-btn tt-wrapper-btnicon">
                            <div class="row tt-w410-col-02">
                                <div class="col-4 col-lg-3 col-xl-2">
                                    <a href="#" class="tt-button-icon">
                                        <span class="tt-icon">
                                           
                                            <use xlink:href="#icon-discussion"></use>
                                            <img src="../static/img/icons/icon-discussion.svg" height="50px"
                                                width="50px">
                                           
                                        </span>
                                        <span class="tt-text">Discussion</span>
                                    </a>
                                </div>
                                <div class="col-4 col-lg-3 col-xl-2">
                                    <a href="#" class="tt-button-icon">
                                        <span class="tt-icon">
                                            
                                            <use xlink:href="#Question"></use>
                                            <img src="../static/img/icons/Question.svg" height="50px" width="50px">
                                            
                                        </span>
                                        <span class="tt-text">Question</span>
                                    </a>
                                </div>
                                <div class="col-4 col-lg-3 col-xl-2">
                                    <a href="#" class="tt-button-icon">
                                        <span class="tt-icon">
                                            
                                            <use xlink:href="#Poll"></use>
                                            <img src="../static/img/icons/Poll.svg" height="50px" width="50px">
                                            
                                        </span>
                                        <span class="tt-text">Poll</span>
                                    </a>
                                </div>
                                <div class="col-4 col-lg-3 col-xl-2">
                                    <a href="#" class="tt-button-icon">
                                        <span class="tt-icon">
                                            
                                            <use xlink:href="#icon-gallery"></use>
                                            <img src="../static/img/icons/icon-gallery.svg" height="50px" width="50px">
                                            
                                        </span>
                                        <span class="tt-text">Gallery</span>
                                    </a>
                                </div>
                                <div class="col-4 col-lg-3 col-xl-2">
                                    <a href="#" class="tt-button-icon">
                                        <span class="tt-icon">
                                            
                                            <use xlink:href="#Video"></use>
                                            <img src="../static/img/icons/Video.svg" height="50px" width="50px">
                                            
                                        </span>
                                        <span class="tt-text">Video</span>
                                    </a>
                                </div>
                                <div class="col-4 col-lg-3 col-xl-2">
                                    <a href="#" class="tt-button-icon">
                                        <span class="tt-icon">
                                            
                                            <use xlink:href="#Others"></use>
                                            <img src="../static/img/icons/Others.svg" height="50px" width="50px">
                                            
                                        </span>
                                        <span class="tt-text">Other</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pt-editor">
                        <h6 class="pt-title">Add some details</h6>
                        <div class="form-group">
                            <textarea name="message" class="form-control" rows="5"
                                placeholder="Lets get started"></textarea>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="inputTopicTitle">Category</label>
                                    <select class="form-control">
                                        <option value="Select">Select</option>
                                        <option value="Value 01">Medical</option>
                                        <option value="Value 02">General</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-auto ml-md-auto">
                                <a href="#" class="btn btn-secondary btn-width-lg">Create Post</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tt-topic-list tt-offset-top-30">
                <div class="tt-list-search">
                    <div class="tt-title">Recent Posts</div>
                    <!-- tt-search -->
                    <div class="tt-search">
                        <form class="search-wrapper">
                            <div class="search-form">
                                <input type="text" class="tt-search__input" placeholder="Search for Queries">
                                <button class="tt-search__btn" type="submit">
                                    <svg class="tt-icon">
                                        <use xlink:href="#icon-search"></use>
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 117 117" id="icon-search">
                                            <path
                                                d="M54 108C24.22 108 0 83.78 0 54S24.22 0 54 0s54 24.22 54 54-24.22 54-54 54zm0-99C29.19 9 9 29.19 9 54s20.19 45 45 45 45-20.19 45-45S78.81 9 54 9z">
                                            </path>
                                            <path
                                                d="M112.5 117c-1.15 0-2.3-.44-3.18-1.32l-23.5-23.5a4.49 4.49 0 0 1 0-6.36 4.49 4.49 0 0 1 6.36 0l23.5 23.5a4.49 4.49 0 0 1 0 6.36c-.88.88-2.03 1.32-3.18 1.32z">
                                            </path>
                                        </svg>
                                    </svg>
                                </button>
                                <button class="tt-search__close">
                                    <svg class="tt-icon">
                                        <use xlink:href="#icon-cancel"></use>
                                    </svg>
                                </button>
                            </div>
                        </form>
                    </div>
                    
                </div>
                <div class="tt-list-header tt-border-bottom">
                    <div class="tt-col-topic">Posts</div>
                    <div class="tt-col-category">Category</div>
                    <div class="tt-col-value hide-mobile">Likes</div>
                    <div class="tt-col-value hide-mobile">Replies</div>
                    <div class="tt-col-value hide-mobile">Views</div>
                    <div class="tt-col-value">Activity</div>
                </div>
                <div class="tt-item">
                    <div class="tt-col-avatar">
                        <svg class="tt-icon">
                            <use xlink:href="#icon-ava-n"></use>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144 144" id="icon-ava-n">
                                <circle fill="#7F7EFF" cx="72" cy="72" r="72"></circle>
                                <path fill="#FFF"
                                    d="M85.454 42.56h9.68v56.399h-7.76L57.134 59.6v39.359h-9.6V42.56h7.68l30.24 39.28V42.56z">
                                </path>
                            </svg>
                        </svg>
                    </div>
                    <div class="tt-col-description">
                        <h6 class="tt-title"><a href="#">
                                Can anyone help me pickup grocery (URGENT) ?
                            </a></h6>
                        <div class="row align-items-center no-gutters hide-desktope">
                            <div class="col-auto">
                                <ul class="tt-list-badge">
                                    <li class="show-mobile"><a href="#"><span
                                                class="tt-color05 tt-badge">General</span></a></li>
                                </ul>
                            </div>
                            <div class="col-auto ml-auto show-mobile">
                                <div class="tt-value">35mn</div>
                            </div>
                        </div>
                    </div>
                    <div class="tt-col-category"><span class="tt-color05 tt-badge">General</span></div>
                    <div class="tt-col-value hide-mobile">1</div>
                    <div class="tt-col-value tt-color-select hide-mobile">2</div>
                    <div class="tt-col-value hide-mobile">4</div>
                    <div class="tt-col-value hide-mobile">35mn</div>
                </div>
                <div class="tt-item">
                    <div class="tt-col-avatar">
                        <svg class="tt-icon">
                            <use xlink:href="#icon-ava-k"></use>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144 144" id="icon-ava-n">
                                <circle fill="#564256" cx="72" cy="72" r="72"></circle>
                                <path fill="#FFF"
                                    d="M85.814 42.56h10.08v56.399h-10.08v-24.48h-28.88v24.479h-10.16V42.56h10.16v23.6h28.88v-23.6z">
                                </path>
                            </svg>
                        </svg>
                    </div>
                    <div class="tt-col-description">
                        <h6 class="tt-title"><a href="#">
                                Not able to find these medicines.
                            </a></h6>
                        <div class="row align-items-center no-gutters hide-desktope">
                            <div class="col-auto">
                                <ul class="tt-list-badge">
                                    <li class="show-mobile"><a href="#"><span
                                                class="tt-color08 tt-badge">Medical</span></a></li>
                                </ul>
                            </div>
                            <div class="col-auto ml-auto show-mobile">
                                <div class="tt-value">1hr</div>
                            </div>
                        </div>
                    </div>
                    <div class="tt-col-category"><span class="tt-color08 tt-badge">Medical</span></div>
                    <div class="tt-col-value  hide-mobile">4</div>
                    <div class="tt-col-value tt-color-select  hide-mobile">7</div>
                    <div class="tt-col-value  hide-mobile">10</div>
                    <div class="tt-col-value hide-mobile">1hr</div>
                </div>
               
            </div>
        </div>

    </main>
    <script src="../static/scripts/index.js"></script>
</body>

</html>